name: Tag on main

on:
  pull_request:
    branches: [ main ]
    types: [ closed ]

permissions: {}

jobs:
  new-tag:
    runs-on: ubuntu-latest

    if: >
      github.event.pull_request.merged == true

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Bump version and push tag
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ github.token }}
          tag_prefix: "v"
          default_bump: "patch"