name: PR title check

on:
  pull_request:
    branches: [ main ]
    types: [opened, edited, synchronize]

permissions: {}

jobs:
  pr-title-check:
    name: Validate PR title
    runs-on: ubuntu-latest

    permissions:
      pull-requests: read
    
    steps:
      - name: Check PR title follows convention
        uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          types: |
            feat
            fix
            chore
            docs
            test
          requireScope: false